  <!-- <nav style="opacity:0.6;left:0; right:0; top:0;bottom: 0" class="navbar navbar-inverse">
    <div style="font-size:16px" class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">250Books</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/">About Us</a></li>
        <li><a href="{{url_for('main.contactus',)}}">Contact Us</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a href="{{url_for('main.profile',uname=current_user.username)}}">Profile</a></li>
        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {%endif%}
      </ul>
    </div>
  </nav> -->

  <header class="headerMe" id="navbar" style="background-color: rgba(82, 88, 90, 0.322);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  box-shadow: 0 0 25px 0 black;
  margin-top: 10px;
  padding-top: 10px;
  display: block;  
    transition: top 0.3s;
    position: fixed;">
      <!-- <a class="l1" href="/" style="border: none;"> <img class="img1" src="images/a1.png" style="width: 3%;
        padding-left: 10px;"></a> -->
      <nav style="display: inline;
      background-color: rgba(52, 139, 211, 0.562);
      transition: top 0.3s;">
          <div style="float: right;
          width: 60%;
          overflow: hidden;">
              <a href="/"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;">Home</a>
              <a href="/"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;">About Us</a>
              <a href="{{url_for('main.contactus',)}}"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;">Contact Us</a>
              {% if current_user.is_authenticated %}
              <a href="{{url_for('main.profile',uname=current_user.username)}}"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;">Profile</a>
              <a href="{{url_for('auth.logout')}}"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;">Sign out</a>
              {% else %}
              <a href="{{url_for('auth.login')}}"
              onMouseOver="this.style.color='#d4165f'"
              onMouseOut="this.style.color='#fff'" style="color:#fff;text-decoration: none;
              font-size: 20px;
              padding: 0px 30px;"><span class="glyphicon glyphicon-log-in"></span> Login</a>
              {%endif%}
          </div>
      </nav>
</header>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-75px";
        }
        prevScrollpos = currentScrollPos;
        }
</script>